@import '../styles/index.scss';

.nav-container {
    position: fixed;
    top: 0;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 -6px 7px -7px rgba(128, 128, 128, 0.775) inset;

    .left-text {
        display: flex;
        align-items: center;
        padding: 0 6%;

        a {
            font-size: 2.1rem;
            text-decoration: none;
            font-weight: 700;
            color: hsl(211, 75%, 12%);
            

            span {
                color: hsl(175, 6%, 63%);
            }
        }
        
    }

    .right-text {
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0 3%;


        .links {
            display: flex;
            margin-right: 70px;
            gap: 30px;

            a {
                display: flex;
                font-weight: 400;
                color:hsl(0, 0%, 70%) ;
                font-size: 1.5rem;
                text-decoration: none;
                font-weight: 400;

                &:hover {
                    color:hsl(211, 75%, 12%) ;
                    transition: all 0.5s ease;

                }
            }

            

        }


        button {
            all: unset;
            display: flex;
            align-items: center;
            gap: 7px;
            font-weight: 700;
            color:hsl(211, 75%, 12%) ;

            img {
                height: 1.5rem;
                width: 1.5rem;
            }

            p {
                font-size: 1.2rem;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    color:hsl(175, 6%, 63%) ;
                    transition: all 0.5s ease;
                }

            }
        }
    }
}